
.descrip {
  display: flex;
  margin: 50px;
  justify-content: center;
}

 .descrip img {
  margin: 80px;
  width: 320px;
  height: 550px;
  padding-left: 25px;
  min-width: 300px;
  
} 

.descrip h4 {
  color: #ffb742;
  border-radius: 50px;
  padding: 20px;
  background-color: #45423d;
  display: inline-block;
  margin: 0px;
  width: 120px;
  height: 60px;
}

.descrip section {
  width: 60%;
  height: 200px;
  margin: 70px;
  min-width: 500px;
}

h1 {
  font-size: 2rem;
}

.parrafo {
  font-size: 25px;
  
}

#botoncontra {
  border-radius: 50px;
  padding: 11px;
  background-color: #ffb742;
  color: #1c1c1c;
  display: inline-block;
  margin: 0px;
  width: 115px;
  height: 50px;
  font-size: 20px;
}


