
.form input {
  border-radius: 50px;
  height: 50px;
  margin: 10px;
}

.contacto {
  color: #ffb742;
  border-radius: 50px;
  padding: 15px;
  background-color: #45423d;
  display: inline-block;
  margin: 0px;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

.formulario {
  background-color: none;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 4.5em 3em;
  border-radius: 10px;
  text-align: center;
}
.contenedordelform {
  margin-top: 6em;
  display: grid;
  row-gap: 100px;
}

.grupoform {
  position: relative;
}

.forminput {
  width: 100%;
  background: none;
  color: #ffffff;
  font-size: 2em;
  padding: 0.6em 0.3;
  border: none;
  outline: none;
  border-bottom: 1px solid #7b7b7b;
  font-family: "Roboto", sans-serif;
}
.forminput:focus + .formlabel,
.forminput:not(:placeholder-shown) + .formlabel {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
}

.formlabel {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(-25px);
  font-size: 2em;
}

.formenviar {
  border-radius: 50px;
  padding: 12px;
  background-color: #ffb742;
  display: inline-block;
  margin: 0px;
  width: 120px;
  height: 60px;
  font-size: 2rem;
}

/*.cajasdetexto{

    display: block;
    margin: 50,20;
    text-align: center;
    
}*/
